@import url("https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/OtherStuff/RecolorAddFriendsTab.css");
@import url("https://raw.githubusercontent.com/tom22k/discord-css/main/Themes/AndroidPlayer.css");
@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");


/**
  * @name Better Pickers
  * @author obsidianninja11
  * @description Makes the soundboard/emoji pickers better and less intrusive.
  * @authorId 683171006717755446
*/

[class^=lockedEmoji_]:has(+[class*=emojiLockIconContainer_]),
[class*=categorySectionNitroLocked_] [class*=emojiItem_]>img,
[class*=soundRowNitroLocked_] [class^=soundButton_] {
  filter: grayscale(1) brightness(0.75);
}

[class^=emojiLockIconContainer_],
[class^=picker_] [class^=sectionFooter_],
:is(#emoji-picker-tab-panel, [class^=picker_]) :is(
  [class^=upsellContainer_],
  [class^=nitroBottomDivider_],
  [class^=categoryItemLockIconContainer_]
) {
  display: none;
}

#emoji-picker-tab-panel [class*=categorySectionNitroLocked_],
[class^=picker_] :is(
  [class*=sectionContainerNitroLocked_],
  [class*=soundRowNitroLocked_]
) {
  background-color: transparent;
}

#emoji-picker-tab-panel [class^=closeButton_] {
  padding: 16px 16px calc(100% - 106px) calc(100% - 40px);
  margin: 0;
}
[class^=picker_] {
  >[class^=container] [class^=closeButton_] {
    padding: 16px 16px calc(420px - 106px) calc(100% - 40px);
    margin: 0;
  }

  [class^=buttonOverlayActions_] {
    padding: 0;
  }
  [class^=secondaryButton_] {
    padding: 8px;
  }
}

#emoji-picker-tab-panel, [class^=picker_] {
  [class^=nitroTopDividerShadow_],
  [class^=nitroTopDividerLower_] {
    visibility: hidden;
  }
  [class^=nitroTopDividerLock],
  [class^=nitroTopDividerLower_] {
    background: var(--background-accent);
  }
}



/*Use album cover as SpotifyControls background*/
/*android spotify player*/

 #vc-spotify-player {
    --android-blur-amount: 1.5px !important; /* adjust blur */
    --android-darken-percent: 0.9 !important; /* adjust dark fading */
    --your-font-here: roboto !important; /* choose a font, Roboto is default android font */
    font-size: 10px;
    height: 110px;
}
#vc-spotify-progress-bar [class^=slider_] [class^=bar_] [class^=barFill_] {
    background-color: rgb(182, 163, 212) !important;
    &::after {
        display: none;
    }
}
#vc-spotify-player::before,
#vc-spotify-player::after {
    border-radius: 0 !important;
   height: 200%; 
}
#vc-spotify-player + [class^="container"] {
    background: transparent;
} 

/* make shuffle and repeat buttons always white */
#vc-spotify-player .vc-spotify-button:is([class*=repeat], [class*=shuffle]) {
    &:not([class*=off]) {
       color: rgb(182, 163, 212) !important;
       &::after {
          background-color: rgb(182, 163, 212) !important;
      }
   }
}
/* unhide album title */
#vc-spotify-titles .vc-spotify-ellipoverflow:has(> #vc-spotify-album-title) {
    display: block !important;
    font-size: 12px !important;   
}

#vc-spotify-player {
    & .vc-spotify-button-row {
        & .vc-spotify-button {
            &:has(.vc-spotify-pause, .vc-spotify-play) {
                background: rgba(182, 163, 212, 0.75);
                border-radius: 100%;
                svg {
                    fill: white;
                    filter: none;
                    }
            }
        }
    }
}
/*uniform spcacing + 1 liners*/
#vc-spotify-player {
    & #vc-spotify-info-wrapper {
        & #vc-spotify-titles {
            > .vc-spotify-ellipoverflow {
                white-space: wrap;
                max-height: 1.15rem;
            }
        }
    }
}
 



/* Nitro Theme Shit */
html.custom-theme-background [class^="sidebar_"] {
    background: var(--bg-overlay-3);
}
html.custom-theme-background [class^="sidebar_"] [class^="panels_"] {
    background: var(--bg-overlay-1);
}







/*     Visible Server Banner     */
/*
[class^="container_"]:not([class*="bannerVisible_"]) >
[class^="animatedContainer_"] {
  top: 3px;
}
[class*="animatedContainer_"] {
  opacity: 1 !important;
}
[class*="headerContent_"] {
  filter: drop-shadow(0 1px 1px var(--bg-backdrop));
}
/* AMOLEDCord fix */
[class^="sidebar_"] header {
  background-color: transparent !important;
} 
/*



/*remove app launcher*/
[class*=channelAppLauncher_] {
  display: none;
}



/* Remove Settings Ads */
div.side_a0 > div.item_a0[data-tab-id="Discord Nitro"] {
  display: none !important;
}
div.side_a0 > div.item_a0[data-tab-id="Nitro Server Boost"] {
  display: none !important;
}
/* --- */



/**
* @name AlignedChatBox
* @author CodeF53
* @version 3.0
* @description Aligns chat box with the bottom of the screen and user controls
*/
:is(main,section)[class^=chatContent] > form,
form > div[class^=submitContainer] {
  /* align chatbox */
  padding: 0px;
  > div > div[class^=channelTextArea] {
    margin: 0px !important;
    > div[class^=scrollableContainer] {
      min-height: 49px;
      padding-top: 4px;
      border-radius: 0px;
    }
  }
  /* align forum channel thing */
  > div { margin-bottom: 0px; border-radius: 0px; }
  
  /* move slowmode/typing indicator to match */
  > div[class^=typing] {
    top: -24px;
    right: calc(var(--custom-index-scrollbar-margin) * 2 + var(--custom-index-scrollbar-width));
    margin-left: auto;
    width: fit-content;
    padding-left: 2px;
    padding-right: 9px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--channeltextarea-background);
  }
  /* make scrollbar meet chatbox */
  &::after { display: none; }

  /* fix replies */
  > div > div > div[class^=attachedBars] {
    min-height: unset !important;
    padding-bottom: 4px;
  }
}

/* jump to present */
div[class^=jumpToPresentBar] {
  left: 0; right: unset;
  border-radius: 0px 8px 0px 0px;
  background-color: var(--channeltextarea-background);
  > button[class^=barButtonMain] {
    flex: 0 0 auto;
    display: none;
  }
}




/*unsimplify bios*/
[class^="descriptionClamp_"] {
    display: block!important;
}



/*hide chat box on unpermed channels*/
[class*=channelTextAreaDisabled] {
    display: none!important;
}

/* or if it doesn't work like because of themes: */
[class*=channelTextAreaDisabled] {
    opacity: 0!important;
    position: absolute!important;
    height: 0px!important;
    width: 0px!important;
    z-index: 0!important;
}



/*see unreadable usernames*/
[class*=username_][style],
.mention[style],
[class*=membersGroup_] [style]
{ filter:contrast(.2) brightness(1.2) saturate(500%); }




/*gif box full height*/
[class^="positionContainer_"] {
  height: calc(100vh - 180px);
}




/*hide server list*/
[class*=guilds_] {
    transition: width 0.15s ease, padding 0.15s ease;
  &:not(:hover) {
    padding-left: 5px;
    width: 0px;
    transition: width 0.15s ease, padding 0.15s ease;
  }
}


/*fix mosaic zoom*/
[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }



/*unread bar text replace*/
.text-xs-semibold_a3a2b4.barText__1a44f {font-size: 0px;}
.text-xs-semibold_a3a2b4.barText__1a44f:before {font-size:12px; content: /*CHANGE TO WHATEVER*/ "more new shit ydgaf about"; position: absolute; top: 4px;}
.bar__004d9 {width: 100px;} /* adjust if needed for bar width, incase the text goes off the bar*/



/*youtube embed enlarge*/
[class^="embedWrapper_"]:has(iframe),
[class^="embedWrapper_"]:has(img[src*="i.ytimg.com"]) {
  max-width: 550px !important;

  [class^="gridContainer_"] {
    max-width: 550px !important;
  }

  [class*="embedMedia_"] {
    max-width: 550px !important;
    max-height: unset !important;

    [class^="imageWrapper_"] {
      max-width: 550px !important;
      aspect-ratio: 16/9 !important;

      img {
        max-width: 550px !important;
        max-height: unset !important;
        aspect-ratio: 16/9 !important;
      }
    }

    & > [class^="embedVideo_"] {
      max-width: 550px !important;
      aspect-ratio: 16/9;
      padding: 0 !important;

      & > iframe {
        max-width: unset !important;
        max-height: unset !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}




/* Hover Anim */
.wrapper_d8bfb3 .link_d8bfb3 /* channels */,
.membersWrap_cbd271 .container_e9f61e /* members */,
.channel_c91bad /* dms */,
.side_a0 .item_a0 /* settings */ {
    transition: margin-left 0.2s ease;
}
.wrapper_d8bfb3:hover .link_d8bfb3,
.side_a0 .item_a0:hover {
    margin-left: 10px;
}
.membersWrap_cbd271 .container_e9f61e:hover,
.channel_c91bad:hover {
    margin-left: 18px;
}







/*summaries bar recolor*/ 
[class^="topicsPillCaret_"] {
    background-color: rgba(0, 0, 0, 0.1);
}
[class^="newMessagesBar_"],
[class^="topicsPillContainer_"],
[class^="newTopicsBarContainer_"] {
    background-color: #03010e;
}



/*make reply and mentioned highlight line same*/
.mentioned_d5deea {
    position: relative;
    background: var(--background-message-highlight);
}
.mentioned_d5deea:before {
    background: var(--brand-500);
}
