/* window controls background */
.spotify__container--is-desktop:not(.fullscreen) body::after {
    content: '';
    position: absolute;
    right: 0;
    z-index: 999;
    backdrop-filter: brightness(2.12);
    /* page zoom [ctrl][+] or [ctrl][-]
       edit width and height accordingly
    */
    width: 162px;
    height: 48px;
}