@import url("https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/OtherStuff/RecolorAddFriendsTab.css");
@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");
@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
@import url("https://nspc911.github.io/themes/vencord/ChatRelatedAlertsAtTop.theme.css");

/*make the jump to present bar black*/
.visual-refresh .bottomBar__0f481 {
  background-color: rgb(0, 0, 0);}


/*make the new messages bar black*/
.visual-refresh .chatContent_f75fb0 .messagesWrapper__36d07 {
  .newMessagesBar__0f481 {
       background-color: #09061a !important;
  }
}




  /**
  * @name Better Pickers
  * @author obsidianninja11
  * @description Makes the soundboard/emoji pickers better and less intrusive.
  * @authorId 683171006717755446
  */

[class^=lockedEmoji_]:has(+[class*=emojiLockIconContainer_]),
[class*=categorySectionNitroLocked_] [class*=emojiItem_]>img,
[class*=soundRowNitroLocked_] [class^=soundButton_] {
  filter: grayscale(1) brightness(0.75);
}

[class^=emojiLockIconContainer_],
[class^=picker_] [class^=sectionFooter_],
:is(#emoji-picker-tab-panel, [class^=picker_]) :is(
  [class^=upsellContainer_],
  [class^=nitroBottomDivider_],
  [class^=categoryItemLockIconContainer_]
) {
  display: none;
}

#emoji-picker-tab-panel [class*=categorySectionNitroLocked_],
[class^=picker_] :is(
  [class*=sectionContainerNitroLocked_],
  [class*=soundRowNitroLocked_]
) {
  background-color: transparent;
}

#emoji-picker-tab-panel [class^=closeButton_] {
  padding: 16px 16px calc(100% - 106px) calc(100% - 40px);
  margin: 0;
}
[class^=picker_] {
  >[class^=container] [class^=closeButton_] {
    padding: 16px 16px calc(420px - 106px) calc(100% - 40px);
    margin: 0;
  }

  [class^=buttonOverlayActions_] {
    padding: 0;
  }
  [class^=secondaryButton_] {
    padding: 8px;
  }
}

#emoji-picker-tab-panel, [class^=picker_] {
  [class^=nitroTopDividerShadow_],
  [class^=nitroTopDividerLower_] {
    visibility: hidden;
  }
  [class^=nitroTopDividerLock],
  [class^=nitroTopDividerLower_] {
    background: var(--background-accent);
  }
}







/* Nitro Theme Shit */
html.custom-theme-background [class^="sidebar_"] {
    background: var(--bg-overlay-3);
}
html.custom-theme-background [class^="sidebar_"] [class^="panels_"] {
    background: var(--bg-overlay-1);
}







/*     Visible Server Banner     */
/*
[class^="container_"]:not([class*="bannerVisible_"]) >
[class^="animatedContainer_"] {
  top: 3px;
}
[class*="animatedContainer_"] {
  opacity: 1 !important;
}
[class*="headerContent_"] {
  filter: drop-shadow(0 1px 1px var(--bg-backdrop));
}
/* AMOLEDCord fix */
[class^="sidebar_"] header {
  background-color: transparent !important;
} 
/*



/*remove app launcher*/
[class*=channelAppLauncher_] {
  display: none;
}



/* Remove Settings Ads */
div.side_a0 > div.item_a0[data-tab-id="Discord Nitro"] {
  display: none !important;
}
div.side_a0 > div.item_a0[data-tab-id="Nitro Server Boost"] {
  display: none !important;
}
/* --- */






/*make settings a window*/
.standardSidebarView__23e6b {
  position: absolute;
  width: 60vw;
  max-width: 60vw !important;
  height: 75vh;
  z-index: 4000;
  justify-self: center;
  align-self: center;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  border: rgba(255, 255, 255, 0.1) 1px solid;

  .contentRegion__23e6b {
      width: calc(60vw - 270px);
      display: block;
      flex: none;

      .toolsContainer__23e6b {
          margin: 0;
          position: absolute;
          right: 0px;
          top: 0;
          flex: none;
          background-color: var(--background-primary);
          padding: 0px;
          height: 46px;
          width: 100%;
          box-shadow: var(--elevation-low);

          .tools__23e6b {
              position: absolute;
              top: 10px;
              right: 20px;
              z-index: 5000;

              .container_c2b141 {
                  .keybind_c2b141 {
                      display: none;
                  }

                  .closeButton_c2b141 {
                      border-radius: 50%;
                      background-color:rgba(255, 255, 255, 0.1);
                      color: white;
                      height: 25px !important;
                      width: 25px !important;
                      border: none;
                      flex: none;

                      >svg {
                          margin: 9px 0px 0px 9px;
                          width: 18px !important;
                          height: 18px !important;
                          overflow: visible;

                          >path {
                              margin-left: 20px;
                              d: path("M0.00380648 0.00268555H1.50315H1.55C1.93069 0.0202563 2.31724 0.19596 2.5808 0.47123L6.00117 3.8916L9.4684 0.47123C9.86666 0.125678 10.1361 0.0143984 10.4992 0.00268555H11.9985V1.50203C11.9985 1.92957 11.9458 2.32784 11.6237 2.62653L8.20333 6.0469L11.5768 9.42042C11.858 9.70155 11.9985 10.0998 11.9985 10.4981V11.9974H10.4992C10.1009 11.9974 9.70267 11.8569 9.42154 11.5757L6.00117 8.15535L2.5808 11.5757C2.29967 11.8569 1.90141 11.9974 1.50315 11.9974H0.00380648V10.4981C0.00380648 10.0998 0.14437 9.70155 0.425496 9.42042L3.84587 6.0469L0.425496 2.62653C0.109228 2.33369 -0.0313351 1.92372 0.00380648 1.50203V0.00268555Z");
                          }
                      }
                  }
              }
          }
      }

      .contentColumn__23e6b:not([id*="vencord"], [id*="vesktop"]) {
          /* vencord tabs excluded because they are literally the only ones that break lmfao */
          min-width: 0px !important;
          width: 100%;
          padding: 0px 20px;

          >.settingsPage_f131e9 {
              >div {
                  padding-top: 66px;
              }

              >h3 {
                  font-size: 16px;
                  z-index: 5000;
                  height: 46px;
                  align-content: center;
                  text-align: center;
                  width: calc(60vw - 270px - 50px);
                  position: fixed;
              }
          }

          >div>h2[data-text-variant="heading-lg/semibold"],
          >div>.sectionTitle__7bffb>h2,
          >h2[data-text-variant="heading-lg/semibold"] {
              font-size: 16px;
              z-index: 100;
              height: 46px;
              align-content: center;
              text-align: center;
              width: calc(60vw - 270px - 50px);
              position: fixed;
              pointer-events: none;
          }

          >div>.children__7bffb,
          .tabBar_d6f9e9,
          .vc-settings-tab-bar,
          .vc-special-card,
          >div>.h5_b717a1 {
              margin-top: 66px;
          }

          .headerContainer__6a750 {
              justify-content: center;
          }
      }
  }

  .sidebarRegion__23e6b {
      flex: none;

      .sidebar__23e6b {
          width: 270px;
          padding: 0;
          overflow: visible !important;

          &::before {
              content: "Settings";
              font-size: 16px;
              font-weight: 600;
              z-index: 100;
              height: 46px;
              align-content: center;
              text-align: center;
              width: 278px;
              position: fixed;
              pointer-events: none;
              background-color: var(--background-secondary);
              box-shadow: var(--elevation-low);
              color: white;
          }

          .side_b3f026 {
              overflow: visible !important;
              padding: 60px 8px 60px 16px;
          }
      }
  }

}

.layer__960e4 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.baseLayer__960e4 {
  opacity: 1 !important;
  transform: scale(1) !important;
}





/*unsimplify bios*/
[class^="descriptionClamp_"] {
    display: block!important;
}



/*hide chat box on unpermed channels*/
[class*=channelTextAreaDisabled] {
    display: none!important;
}

/* or if it doesn't work like because of themes: */
[class*=channelTextAreaDisabled] {
    opacity: 0!important;
    position: absolute!important;
    height: 0px!important;
    width: 0px!important;
    z-index: 0!important;
}



/*see unreadable usernames*/
[class*=username_][style],
.mention[style],
[class*=membersGroup_] [style]
{ filter:contrast(.2) brightness(1.2) saturate(500%); }




/*gif box full height*/
[class^="positionContainer_"] {
  height: calc(100vh - 180px);
}




/*hide server list*/
[class*=guilds_] {
    transition: width 0.15s ease, padding 0.15s ease;
  &:not(:hover) {
    padding-left: 5px;
    width: 0px;
    transition: width 0.15s ease, padding 0.15s ease;
  }
}


/*fix mosaic zoom*/
[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }



/*unread bar text replace*/
.text-xs-semibold_a3a2b4.barText__1a44f {font-size: 0px;}
.text-xs-semibold_a3a2b4.barText__1a44f:before {font-size:12px; content: /*CHANGE TO WHATEVER*/ "more new shit ydgaf about"; position: absolute; top: 4px;}
.bar__004d9 {width: 100px;} /* adjust if needed for bar width, incase the text goes off the bar*/



/*youtube embed enlarge*/
[class^="embedWrapper_"]:has(iframe),
[class^="embedWrapper_"]:has(img[src*="i.ytimg.com"]) {
  max-width: 550px !important;

  [class^="gridContainer_"] {
    max-width: 550px !important;
  }

  [class*="embedMedia_"] {
    max-width: 550px !important;
    max-height: unset !important;

    [class^="imageWrapper_"] {
      max-width: 550px !important;
      aspect-ratio: 16/9 !important;

      img {
        max-width: 550px !important;
        max-height: unset !important;
        aspect-ratio: 16/9 !important;
      }
    }

    & > [class^="embedVideo_"] {
      max-width: 550px !important;
      aspect-ratio: 16/9;
      padding: 0 !important;

      & > iframe {
        max-width: unset !important;
        max-height: unset !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}




/* Hover Anim */
.wrapper_d8bfb3 .link_d8bfb3 /* channels */,
.membersWrap_cbd271 .container_e9f61e /* members */,
.channel_c91bad /* dms */,
.side_a0 .item_a0 /* settings */ {
    transition: margin-left 0.2s ease;
}
.wrapper_d8bfb3:hover .link_d8bfb3,
.side_a0 .item_a0:hover {
    margin-left: 10px;
}
.membersWrap_cbd271 .container_e9f61e:hover,
.channel_c91bad:hover {
    margin-left: 18px;
}







/*summaries bar recolor*/ 
[class^="topicsPillCaret_"] {
    background-color: rgba(0, 0, 0, 0.1);
}
[class^="newMessagesBar_"],
[class^="topicsPillContainer_"],
[class^="newTopicsBarContainer_"] {
    background-color: #09061a;
}



/*make reply and mentioned highlight line same*/
.mentioned__5126c {
    position: relative;
    background: var(--background-message-highlight);
}
.mentioned__5126c:before {
  background: var(--brand-500);
}

/*remove the visual refresh title bar*/
.visual-refresh {
  div[class^="base_"] {
      grid-template-rows: auto;

      & > div[class^="bar_"] {
          display: none;
      }
  }

  ul[data-list-id="guildsnav"] > div[class^="itemsContainer_"] {
      margin-top: 16px;
  }
}