/*****Rounded Corners in Pages****/

#tabbrowser-tabbox {
  position: relative;
  overflow: hidden;
}

/* inner rounded corners */
#tabbrowser-tabbox::after {
  content: "";
  inset: -10px;
  position: absolute;
  border: 15px solid var(--toolbar-bgcolor);
  border-top: 12px solid var(--toolbar-bgcolor);
  border-radius: 24px;
  z-index:1;
 pointer-events:none;
}