/*****Rounded Corners in Pages****/

#tabbrowser-tabbox {
  position: relative;
  overflow: hidden;
}

/* inner rounded corners */
#tabbrowser-tabbox::after {
  content: "";
  inset: -13px;
  position: absolute;
  border-top: 15px solid var(--toolbar-bgcolor);
  border-right: 18px solid var(--toolbar-bgcolor);
  border-bottom: 18px solid var(--toolbar-bgcolor);
  border-left: 15px solid var(--toolbar-bgcolor);
  border-radius: 30px;
  z-index:1;
 pointer-events:none;
}