! YT number of vids in rows
youtube.com##ytd-rich-grid-row, #contents.ytd-rich-grid-row:style(display:contents !important;)

youtube.com##ytd-rich-grid-renderer:style(--ytd-rich-grid-items-per-row: 5 !important;)



! YT Home - Hide Videos Below 1K Views////https://old.reddit.com/r/uBlockOrigin/comments/1u0875r/i_need_youtube_expertise_support/oqv8wxw/////
!   Homepage 20250924
youtube.com###primary ytd-rich-grid-renderer #contents ytd-rich-item-renderer yt-content-metadata-view-model > div + div > span:first-child:not(:has-text(/(\d[KMB]|\d\D\d{3})\b/)):upward(ytd-rich-item-renderer)
youtube.com###primary ytd-rich-grid-renderer #contents ytd-rich-section-renderer ytd-rich-item-renderer h3 + .shortsLockupViewModelHostOutsideMetadataSubhead > span:not(:has-text(/(\d[KMB]|\d\D\d{3})\b/i)):upward(ytd-rich-item-renderer)

!   search
youtube.com###contents > ytd-video-renderer #meta.ytd-video-renderer #metadata-line > span.inline-metadata-item:first-of-type:not(:has-text(/(\d[KMB]|\d\D\d{3})\b/i)):upward(ytd-video-renderer)
youtube.com###contents > grid-shelf-view-model div.ytGridShelfViewModelGridShelfItem .shortsLockupViewModelHostMetadataSubhead span:not(:has(> *)):not(:has-text(/(\d[KMB]|\d\D\d{3})\b/i)):upward(.ytGridShelfViewModelGridShelfItem)

!   suggestions
youtube.com###related :is(yt-lockup-view-model,ytd-compact-video-renderer) > div > a > :not(yt-collection-thumbnail-view-model):upward(2) :is(.yt-content-metadata-view-model__metadata-row,.ytContentMetadataViewModelMetadataRow):nth-of-type(2) > span:is(.yt-content-metadata-view-model__metadata-text,.ytContentMetadataViewModelMetadataText):is(:first-child,:nth-of-type(2)):not(:has-text(/(\d[KMB]|\d\D\d{3})\b/)):upward(yt-lockup-view-model,ytd-compact-video-renderer)




! revert YT endscreen suggestion numbers
youtube.com##.html5-video-player.ended-mode .ytp-fullscreen-grid
youtube.com##.html5-video-player.ended-mode.ytp-autonav-endscreen-cancelled-state .html5-endscreen:style( display: block !important; )
youtube.com##.html5-video-player.ytp-fullscreen.ended-mode.ytp-autonav-endscreen-cancelled-state .html5-endscreen:style( top: 48px !important; )





! Title: Hide YouTube Shorts
! Description: Hide all traces of YouTube shorts videos on YouTube
! Version: 2026.4.29
! Last modified: 2026-04-29 19:49
! Expires: 2 weeks (update frequency)
! Homepage: https://github.com/gijsdev/ublock-hide-yt-shorts
! License: https://github.com/gijsdev/ublock-hide-yt-shorts/blob/master/LICENSE.md

! Hide all videos with the shorts indicator
www.youtube.com##ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]:upward(ytd-video-renderer)

! Remove generic shorts shelf except on history page
www.youtube.com##:matches-path(/^(?!\/feed\/history).*$/)ytd-reel-shelf-renderer

! Remove rich shelf shorts section
www.youtube.com##ytd-rich-shelf-renderer[is-shorts],ytd-rich-shelf-renderer[is-shorts]:upward(ytd-rich-section-renderer)
www.youtube.com##ytd-rich-item-renderer[rendered-from-rich-grid] ytm-shorts-lockup-view-model:upward(ytd-rich-item-renderer[rendered-from-rich-grid])

! Hide shorts button in sidebar
www.youtube.com##ytd-guide-entry-renderer:has(.ytd-guide-entry-renderer[title="Shorts"])
! Tablet resolution
www.youtube.com##ytd-mini-guide-entry-renderer:has(.ytd-mini-guide-entry-renderer[title="Shorts"])

! Hide shorts tab on channel pages
www.youtube.com##yt-tab-shape[tab-title="Shorts"]

! Hide shorts filter/category on top of homepage and search pages
www.youtube.com##yt-chip-cloud-chip-renderer:has(.ytChipShapeInactive:has-text(/^Shorts$/i))

! Hide shorts sections on search page
www.youtube.com##ytm-shorts-lockup-view-model-v2:upward(grid-shelf-view-model)

!!! MOBILE !!!

! Hide all videos with the shorts indicator
m.youtube.com##ytm-thumbnail-overlay-time-status-renderer[data-style="SHORTS"]:upward(ytm-video-with-context-renderer)

! Remove generic shorts shelf except on history page
m.youtube.com##:matches-path(/^(?!\/feed\/history).*$/)ytm-reel-shelf-renderer

! Hide shorts button in the bottom navigation bar
m.youtube.com##ytm-pivot-bar-item-renderer:has(.pivot-shorts)

! Hide shorts sections except on history page
m.youtube.com##:matches-path(/^(?!\/feed\/history).*$/)ytm-shorts-lockup-view-model:upward(ytm-rich-section-renderer)

! Hide shorts tab on channel pages
m.youtube.com##yt-tab-shape[tab-title="Shorts"]

! Hide shorts filter/category on top of homepage and search pages
www.youtube.com##ytm-chip-cloud-chip-renderer:has([aria-label="Shorts"])

! Hide shorts sections on search page
m.youtube.com##ytm-shorts-lockup-view-model:upward(grid-shelf-view-model)






! Apr 23, 2025 https://www.youtube.com
www.youtube.com###guide-content > .ytd-app.style-scope

! Sep 17, 2025 https://soccerfullmatch.com
||soccerfullmatch.com/wp-content/uploads/2024/12/18ad.webp$image

! Feb 22, 2026 https://x.com
x.com##a.r-1loqt21.r-1ny4l3l.r-1mkv55d.r-13qz1uu.r-1habvwh.r-16y2uox.r-eqz5dr.r-6koalj.css-175oi2r:nth-of-type(8)

! Feb 27, 2026 https://x.com
x.com##.r-1ny4l3l.r-6416eg.r-o7ynqc.r-1loqt21.r-3pj75a.r-cnw61z.r-1777fci.r-1uusn97.r-sdzlij.r-l5o3uw.css-175oi2r




missav.*##.truncate:style(white-space: normal !important; overflow: visible !important; text-overflow: unset !important;)
missav.*##.max-h-14:style(max-height: 12.5rem !important; overflow-y: hidden !important;)
sextb.net##.tray-item-description .tray-item-title:style(max-height: 200px !important; font-size: 12px !important; overflow: visible !important; white-space: normal !important;)

! May 10, 2026 https://streamed.pk
streamed.pk##.svelte-4ozyh1.bg-background.chat-container.relative.p-2.drop-shadow-lg.rounded-lg.border-2.border-border\/40.w-full

